extends header
- var col = 0
block content
  - each item, i in data
      div.rows
        div.col-xs-3
          div.card(style="margin-bottom = 10px;")
            div.content
              center
                div.rows
                  div.col-xs-12
                    img.img-responsive(src="http://localhost:8080/images/"+item.Image height="400" width="200")

                div.rows
                  div.col-xs-6
                    h4 ISBN
                  div.col-xs-5
                    h4= item.ISBN
                div.rows
                  div.col-xs-6
                    h4 ผู้แต่ง
                  div.col-xs-5
                    h4= item.Name+" "+item.Surname
                div.rows
                  div.col-xs-6
                    h4 จำนวนหน้า
                  div.col-xs-5
                    h4= item.Pages
                div.rows
                  div.col-xs-5
                    h4 สำนักพิมพ์
                  div.col-xs-7
                    h4= item.PubName
                div.rows
                  div.col-xs-3
                    h4 ที่อยู่
                  div.col-xs-9
                    h4= item.Address+" "+item.City+" "+item.Zipcode
                div.rows
                  div.col-xs-12
                    a.btn.btn-simple.btn-danger(href="http://localhost:8080/") ย้อนกลับ
                div.rows
                  div.col-xs-12
                    &nbsp;
      div.col-xs-9
        h2= item.Title
        - each chapter in bookChapter
            div.rows
              div.card.card-nav-tabs.card-plain
                div.header.header-info
                  h3 บทที่ #{chapter.SubjectID+" "+chapter.Str}
                div.content
                  p= chapter.Data
